<footer>
    <a class="social-icon" href="mailto:ivy302010@hotmail.com?Subject=Hi%20Ivy">
        <ion-icon name="mail-outline"></ion-icon>
    </a>
    <a class="social-icon" href="https://www.facebook.com/ivy2109">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a class="social-icon" href="https://www.instagram.com/ivyng2109/">
        <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="social-icon" href="https://www.pinterest.com/ivy302010/">
        <ion-icon name="logo-pinterest"></ion-icon>
    </a>
</footer>