<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
{% if navPortfolio or navVideo %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
new LazyLoad();
var $msnry = $('.masonry').masonry({
  itemSelector: '.masonry-item',
  percentPosition: true,
  columnWidth: '.masonry-sizer'
});
// layout Masonry after each image loads
$msnry.imagesLoaded().progress( function() {
  $msnry.masonry();
});
$msnry.on('load loadeddata', function() {
  $msnry.masonry('layout');
});
</script>
<script defer src="https://cdn.jsdelivr.net/npm/zoom-vanilla.js/dist/zoom-vanilla.min.js"></script>
{% endif %}