<nav>
    <div class="brand-logo">
        <img id="logo" src="/assets/img/48px.png" />
    </div>
    <ul class="navbar-contents">
        {% if navHome %}
            <li><a class="active" href="/">Home</a></li>
        {% else %}
            <li><a href="/">Home</a></li>
        {% endif %}
        
        {% if navPortfolio %}
            <li><a class="active" href="/portfolio/">Portfolio</a></li>
        {% else %}
            <li><a href="/portfolio/">Portfolio</a></li>
        {% endif %}
        
        {% if navVideo %}
            <li><a class="active" href="/video/">Video</a></li>
        {% else %}
            <li><a href="/video/">Video</a></li>
        {% endif %}

       {% if navCv %}
            <li><a class="active" href="/cv/">CV</a></li>
        {% else %}
            <li><a href="/cv/">CV</a></li>
        {% endif %}   
        
    </ul>
</nav>