<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ivy Ng | Graphic Designer</title>

    <link rel="shortcut icon" type="image/png" href="/assets/img/16px.png">
    {% include "styles.njk" %}
</head>