<link rel="stylesheet" href="/assets/css/styles.css" />

{% if useIndexBg %}
<link rel="stylesheet" href="/assets/css/index.css" />
{% endif %}

{% if navCv %}
<link rel="stylesheet" href="/assets/css/cv.css" />
{% endif %}

{% if navPortfolio or navVideo %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zoom-vanilla.js/dist/zoom.css" />
<link rel="stylesheet" href="/assets/css/masonry.css" />
{% endif %}

{% if navPortfolio %}
<link rel="stylesheet" href="/assets/css/portfolio.css" />
{% endif %}

{% if navVideo %}
<link rel="stylesheet" href="/assets/css/videos.css" />
{% endif %}