@import "../utils/variables.scss";

body {
  background-image: url("/assets/img/background-01.jpg");
  background-size: contain;
  color: #707070;
  font-size: 20px;
  font-family: "Georgia";
}

a:link {
  transition: all 0.2s ease-in-out;
}

a:link,
a:visited {
  text-decoration: none;
}

div.outer-contents-container {
  padding: 20px 20px;
  text-align: right;
}

div.inner-content-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 20px;

  main.with-aside {
    width: 60%;

    + aside {
      width: 40%;
    }
  }
}

@media screen and (max-width: $sm-width) {
  body {
    font-size: 18px;
    }
  div.inner-content-container {
    display: initial;

    main.with-aside {
      width: 100%;
  
      + aside {
        width: 100%;
      }
    }
  }
 }
