@import "../utils/variables.scss";

.view-more {
  border: none;
  text-align: center;
  display: inline-block;
  margin: 30px 0px;
  cursor: pointer;
  background-color: #9e6a6f;
  color: white;
  padding: 10px 20px 0 20px;
  font-family: "Antro Vectra";
  font-size: 30px;
  border-radius: 25px;

  &:hover, &:focus {
    background-color: #6d3c41;
  }
}

@media screen and (max-width: $sm-width) {
  .view-more {
    font-size: 24px;
  }
}