footer {
  position: fixed; 
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;

  a.social-icon:link, a.social-icon:visited {
    color: #9e6a6f;
  }

  a.social-icon:hover, a.social-icon:focus {
    color: #6d3c41;
  }
}
