@import "../utils/variables.scss";

h1 {
  font-size: 150px;
  color: #9e6a6f;
  font-family: "Antro Vectra Bolder";
  font-weight: bold;
}

h2 {
  font-size: 50px;
  color: #9e6a6f;
  font-weight: bold;
  margin-top: 40px;
}

h3 {
  font-size: 40px;
  color: #9e6a6f;
}

h4 {
  font-size: 24px;
  color: #9e6a6f;
}
h5{
  font-size: 60px;
  color: #9e6a6f;
  font-family: "Antro Vectra Bolder";
  margin-top: -20px;
}
h6{
  font-size: 27px;
  color: #9e6a6f;
  margin-top: -35px;
}

@media screen and (max-width: $sm-width) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 25px;
    margin-top: 10px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 15px;
  }
  h5{
    font-size: 26px;
   }
  h6{
    font-size: 10px;
    margin-top: 0px;
  }

}
