@import "../utils/variables.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0 20px;

  .brand-logo #logo {
    width: 48px;
    height: 48px;
  }

  ul.navbar-contents {
    list-style: none;
    overflow-x: auto;
    display: flex;

    li {
      border-right: 1px solid black;
      padding: 0 20px;

      a.active {
        text-decoration: underline;
      }

      a:link,
      a:visited {
        color: #707070;
      }

      a:hover,
      a:focus {
        color: #9e6a6f;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}
@media screen and (max-width: $sm-width) {
  nav {
    padding: 5px 10px 0 10px;

    ul.navbar-contents li {
      padding: 0 10px;
    }
  }

  .brand-logo #logo {
    width: 10px;
    height: 10px;
  }
}
