<!doctype html>
<html>
  {% set navCv = true %}
  {% include 'stdhead.njk' %}
  <body>
    {% include 'nav.njk' %}
    <div class="outer-contents-container">
      <h5> Ivy Ng Wen Hui</h5>
      <h6> Graphic Designer</h6>

      <div class="inner-content-container">
        <main class="with-aside">
          <h2 class="mb-30">Work Experience</h2>
          <div class="workexp-container-contents">
            <div class="mid-border"></div>
            {% for exp in cvData.workexp %}
              <div class="workexp-duration">{{ exp.time }}</div>
              <div class="workexp-info">
                <h4>{{ exp.title }}</h4>
                <ul>
                  {% for achievement in exp.achievements %}
                    <li>{{ achievement }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </main>
        <aside class="align-right">
          <h2>Education</h2>
          <div class="education-content-container">
            {% for edu in cvData.education %}
            <div class="spacing">
              <div class="edu-duration">{{ edu.time }}</div>
              <div class="edu-info">
                <h4>{{ edu.school }}</h4>
                {{ edu.certification }}
                </div>
              </div>
              {% endfor %}
          </div>

          <h2>Software Level</h2>
          <div class="software-content-container">
            {% for tool in cvData.software %}
              <div class="software">
                <span class="software-name">{{ tool.name }}</span>
                {% for i in range(1, tool.score + 1) %}
                  <ion-icon name="ellipse" class="dots"></ion-icon>
                {% endfor %}
                {% for i in range(1, 10 - tool.score + 1) %}
                  <ion-icon name="ellipse-outline" class="dots"></ion-icon>
                {% endfor %}
              </div>
            {% endfor %}
          </div>

          <h2>Skill</h2>
          <div class="skill-content-container">
            {% for tool in cvData.skill %}
              <div class="skill">
                <span class="skill-name">{{ tool.name }}</span>
                {% for i in range(1, tool.score + 1) %}
                  <ion-icon name="ellipse" class="dots"></ion-icon>
                {% endfor %}
                {% for i in range(1, 10 - tool.score + 1) %}
                  <ion-icon name="ellipse-outline" class="dots"></ion-icon>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </aside>
      </div>
    </div>

    {% include 'footer.njk' %}
    {% include 'js.njk' %}
  </body>
</html>