<!doctype html>
<html>
  {% set useIndexBg = true %}
  {% set navHome = true %}
  {% include 'stdhead.njk' %}
  <body>
    {% include 'nav.njk' %}
    <div class="outer-content-container">
      <main>
        <div>
          {{ content | safe }}

          <a class="view-more" href="/cv/">View more</a>
        </div>
      </main>
    </div>
    {% include 'footer.njk' %}
    {% include 'js.njk' %}
  </body>
</html>