<!doctype html>
<html>
  {% set navPortfolio = true %}
  {% include 'stdhead.njk' %}
  <body>
    {% include 'nav.njk' %}
    <main>
      <div class="portfolio-hero">
        Portfolio
      </div>

      <div class="masonry">
        <div class="masonry-sizer"></div>
        {% for image in collections.portfolio %}
          <div class="masonry-item">
            <img src="{{ image }}" data-action="zoom" />
          </div>
        {% endfor %}
      </div>
    </main>
    
    {% include 'js.njk' %}
  </body>
</html>