<!doctype html>
<html>
  {% set navVideo = true %}
  {% include 'stdhead.njk' %}
  <body>
    {% include 'nav.njk' %}
    <main>
      <div class="videos-semi-hero">
        Videos
      </div>
      <div class="masonry">
        <div class="masonry-sizer"></div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/MO92r2cUpt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/v3VHRV54mSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/lPapkCH4K7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/uRKNDK3KmKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/YID2naBORMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/a3wRsyNnL1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="masonry-item">
          <iframe src="https://www.youtube.com/embed/8B4mH-wgAKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </main>

  {% include 'js.njk' %}
</body>
</html>