@import "utils/variables.scss";

.workexp-container-contents {
  display: grid;
  grid-template-columns: 20% 10% 70%;
  row-gap: 30px;

  .mid-border {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: $lastLineOnWorkExp;
    width: 1.5px;
    margin-left: 10%;
    background: #9e6a6f;
  }
}
.education-content-container {
  margin: 0px auto;
}
.spacing {
  margin-top: 10px;
}
.dots{
  font-size: 20px;
  text-align: none;
  }

@media screen and (max-width: $sm-width) {
  .workexp-container-contents {
    row-gap: 10px;
    grid-template-columns: 20% 20% 60%;
    .mid-border {
      grid-column-start: 0;
      grid-column-end: 0;
      grid-row-start: 0;
      width: 0px;
      margin-left: 0%;
    }
  }
  .education-content-container {
    margin: 0px 0px;
  }
  .spacing {
    margin-top: 10px;
  }

  main + aside.align-right {
    text-align: left;
  }
  .dots{
  font-size: 15px;
  }
}
