@import 'utils/variables.scss';

body {
  background-image: url("/assets/img/index_background-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

main p {
  margin-top: 30px;
}


@media screen and (max-width: $sm-width) {
  body {
    background-image: url("/assets/img/background-01.jpg");
    background-repeat: repeat;
    background-size: contain;
  }

  main {
    justify-content: flex-start;
    letter-spacing: 0.5px;
        }
        main p {
          margin-top: 20px;
        }
  .outer-content-container{
     padding-left: 30px;
  }
}