@import "utils/variables.scss";

.masonry-sizer,
.masonry-item {
  width: 25%;
  padding: 20px;
  text-align: center;
}

.masonry-item img {
  padding: 10px;
  background: white;
  border: 1px solid #aaa;
  max-width: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    padding: 0;
    border-color: transparent;
  }
}

.masonry-item video,
.masonry-item iframe {
  max-width: 100%;
}
@media screen and (max-width: $sm-width) {
  .masonry-item img {
    padding: 5px;
    max-width: 90%;
    }
    .masonry-item {
      width: 50%;
      padding: 5px;
    }
}