@import "utils/variables.scss";

body {
  background-image: url('/assets/img/home-01.png');
  background-size: contain;
}

.portfolio-hero {
  font-family: "Antro Vectra Bolder";
  color: #9e6a6f;
  font-size: 150px;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $sm-width) {
  .portfolio-hero {
    font-size: 90px;
    height: 30vh;
  }
}