@import "utils/variables.scss";

.videos-semi-hero {
  font-family: "Antro Vectra Bolder";
  color: #9e6a6f;
  font-size: 150px;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masonry-item {
  padding: 10px;
}
@media screen and (max-width: $sm-width) {
  .videos-semi-hero {
    font-size: 90px;
    height: 30vh;
  }
}