

@font-face {
    font-family: 'Antro Vectra';
    src: url('/assets/fonts/antro_vectra-webfont.woff2') format('woff2'),
         url('/assets/fonts/antro_vectra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Antro Vectra Bolder';
    src: url('/assets/fonts/antro_vectra_bolder-webfont.woff2') format('woff2'),
         url('/assets/fonts/antro_vectra_bolder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}